*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background : linear-gradient(135deg,#8052ec,#d161ff);

}
.container{
    /* border: 2px solid white; */
    width:40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask{
    background-color: #ffffff;
    padding: 30px 20px;
    position: relative;
    border-radius: 5px;
     box-shadow: 0px 15px 30px;
}
#newtask input{
    width: 70%;
    height: 45px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    padding: 12px;
    position: relative;
    font-weight: 500;
    color: #111111;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #8052ec;
}
#newtask button{
    position: relative;
    float: right;
    height: 45px;
    width: 20%;
    border-radius: 5px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    background-color: green;
    cursor: pointer;
    color: #ffffff;
}
#tasks{
    background-color: #ffffff;
    padding: 30px 40px;
    margin-top: 60px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    box-shadow: 0px 15px 30px;
}
.task{
    background-color:#ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid black;
}
#taskname{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.delete{
    background-color: red;
    height: 100%;
    width: 55px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 2px 4px;
}
.completed{
    text-decoration: line-through;
}